footer {
  background-color: aqua;
}
.sidelinks li {
  list-style: none;
}
.listHover a:hover {
  background-color: rgb(216, 212, 212);
  border-radius: 5%;
}
.section-carrousel{
  background-color: rgb(216, 212, 212);
}
.header-text-navbar{
  margin-right: 30px;
}